.bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
}

.rel-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.landscape {
  position: absolute;
  left: 0;
  bottom: 0;
}

.full-width {
  width: 100%;
}

#shining-effect {
  z-index: 1;
  opacity: 0.85;
  animation: shine 5s infinite ease;

  @keyframes shine {
    50% {
      opacity: 1;
      transform: bottom center scale(1.1, 1.1);
    }
  }
}

#jiri-head {
  mix-blend-mode: multiply;
  opacity: 0.68;
  z-index: 11;
}

#landscape-1 {
  z-index: 12;
}

.landscape-object {
  margin: 0;
  position: absolute;
  z-index: 13;
  transition: transform 1s ease, filter 0.5s ease;
  transform-origin: center bottom;

  &:hover {
    cursor: pointer;
    transition: filter 0.5s ease;
    filter: sepia(3);
    animation: boing 0.5s infinite ease-in-out;

    @keyframes boing {
      50% { transform: scale(1, 1.1) }
    }
  }
}

.book--tiny {
  position: absolute;
}

#landscape-variant-container {
  z-index: 13;
}

.tooltip {
  position: absolute;
  color: rgb(223, 223, 223);
  z-index: 14;
  // background-color: rgb(29, 29, 29);
  border-radius: 10px;
  line-height: 0;
  background-image: url("../assets/box-dark.png");
  background-size: 100% 100%;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}

.tooltip-enter, {
  opacity: 0;
  filter: blur(40px);
}

.tooltip-enter-active {
  opacity: 1;
  filter: blur(0);
  transition: all 500ms ease;
}

.tooltip-exit {
  opacity: 1;
  filter: blur(0);
}

.tooltip-exit-active {
  opacity: 0;
  filter: blur(40px);
  transition: all 500ms ease;
}

#text-test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}


.landscape--1-enter, .landscape--2-enter {
  filter: blur(20px);
}

.landscape--1-exit.landscape--1-exit-active, .landscape--2-exit.landscape--2-exit-active {
  filter: blur(20px);
  transition: all 1000ms ease;
}

.landscape--1-exit, .landscape--2-exit {
  filter: blur(0);
}

.landscape--1-enter.landscape--1-enter-active, .landscape--2-enter.landscape--2-enter-active {
  filter: blur(0);
  transition: all 1000ms ease;
}