$background-url: url("./assets/background-darkgray.jpg");

html {
  background-image: $background-url;
  background-color: #282c34;
  background-repeat: repeat repeat;
  background-size: cover;
  overflow-x: hidden;
}

h2 {
  display: none;
}

.App {
  position: relative;

}

#main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}