$background-url: url("./assets/background-semidarkgray.jpg");

html {
  background-image: $background-url;
  background-color: #282c34;
  background-repeat: repeat repeat;
  background-size: cover;
  overflow-x: hidden;
}

h2 {
  display: none;
}

// #main {
//   margin-top: 6rem;
// }